		body{
			background-color : powderblue; 
			
		}
		#bgimg{
			background-image: url("Images/computers-components-wallpaper-2.jpg");
		}
		#blknred{
			color: red;
			background-color: black;
		}
		#bgwhite{
			background-color: white;
			
		}
		#bgpurple{
			background-color: blueviolet;
		}
		#bgred{
			background-color: red;
		}
		#bgblue{
			background-color:blue;
		}
		#bggreen{
			background-color: greenyellow;
		}
		
		.customer{
			border: 2px solid blue;
			font-family: Arial;
			font-size: 14px;
			color: orange;
		}
		#bgblack{
			background-color: black;

		}
		th{
			border: 2px solid black;
		}
		#grybsq{
			border: 1px solid gray;
			background-color: bisque;
		}
		#test{
			background-color: purple;
		}
		.test{
			background-color: blue;
		}
		/*<div id="shapename"></div>*/
		#square{
			width:200px;
			height:200px;
			background-color:blue;
		}
		#circle{
			width:200px;
			height:200px;
			background-color:red;
			border-radius: 50%;
		}
		#triangle{
			width:0;
			height: 0;
			border-top:200px solid blue;
			border-right:200px solid transparent;
		}